.member .member-img {
  position: relative;
}

.member .social {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.member:hover .social {
  opacity: 1;
}

.member .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(239, 102, 3, 0.6);
  color: #fff !important;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.member .social a:hover {
  background-color: #ef6603;
  color: #fff;
}




.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.team {
  background-color: #f8f9fa;
  border: "none";
  width: 16rem !important;
  height: 20rem !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

