.testimonials {
    padding: 60px 0;
    background-color: #fff;
  }
  
  .testimonials .section-title {
    
    padding-bottom: 30px;
  }
  
  .testimonials .testimonials-slider {
    position: relative;
    overflow: hidden;
  }
  
  .testimonials .testimonials-slider .swiper-wrapper {
    display: flex;
    transition-property: transform;
  }
  
  .testimonials .testimonial-item {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(54, 83, 99, 0.1);
    text-align: center;
  }
  
  .testimonials .testimonial-item p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
  .testimonials .testimonial-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #666;
  }
  
  .testimonials .quote-icon-left,
  .testimonials .quote-icon-right {
    font-size: 24px;
    color: #d8d8d8;
  }
  
  @media (min-width: 768px) {
    .testimonials .testimonial-item {
      padding: 50px;
      width: 21rem;
      height: 24rem !important;
    }
  }
  .testimonials {
    padding: 10px 0;
    overflow: hidden;
}
  