.features .nav-link.active {
  background: #ef6603 !important;
  color: #fff !important;
  border-color: #ef6603 !important;
}
.features .nav-link:hover {
  color: #ef6603 !important;
}

.ri-check-double-line {
  font-size: 20px !important;
  padding-right: 4px;
  color: #ef6603 !important;
}
.titleicon {
  padding-right: 15px;
  font-size: 48px;
  margin-top: -10px;
}

.features .nav-link {
  border: 0px solid #d4d6df !important;
  padding: 5px !important;
  transition: 0.3s !important;
  color: #2a2c39 !important;
  border-radius: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
